@import "tailwindcss";

@theme {
  --color-theme_green: #A6DEBF;
  --color-theme_purple: #BFA6DE;
  --color-theme_tan: #DEBFA6;
  --color-theme_bg: #121212;
  --color-theme_sidebar: #1E1E1E;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--color-theme_bg);
  color-scheme: dark;
}
